<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" >
      <br >
      <h2>User Detail</h2>
      <br />


    <div class="card" style="width: 25rem;">
        <div class="card-header">
          Details of <b>
              <%= emp.name %>
        </b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">User Name : <%= emp.name%> </li>
          <li class="list-group-item">User Address : <%= emp.address%> </li>
          <li class="list-group-item">User Position : <%= emp.Position%></li>
          
        </ul>
      
    
      <div class="card-footer">
        <h3><a class="btn btn-secondary" href="/users/">Back to List</a></h3>
        <form method="post" action="/users/delete/<%= emp._id %>">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-secondary" href="/users/edit/<%= emp._id %>">Edit</a>
        </form>

    </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>